.markdown.book-article,
.markdown.book-post {
  p {
    text-indent: 2em;
  }

  h1 {
    color: var(--body-font-color);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
  }

  h2 {
    color: var(--body-font-color);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0px 10px;
    border-left: 5px double #e40000;
  }

  h3 {
    color: var(--body-font-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    padding: 0px 10px;
    border-left: 5px double #007BFF;
  }

  h4 {
    color: var(--body-font-color);
    font-size: 14px;
    line-height: 1.66666666666667;
    font-weight: bold;
    padding: 0px 10px;
    border-left: 5px double #9C27B0;
  }

  h5 {
    color: #808080;
    font-size: 14px;
    line-height: 1.66666666666667;
    padding: 0px 10px;
    border-left: 5px double #00C853;
  }

  h6 {
    color: #808080;
    font-size: 12px;
    line-height: 1.66666666666667;
    font-weight: 600;
    padding: 0px 10px;
    border-left: 5px double #795548;
  }

  .book-post-title {
    padding: 0px;
    border-left: none;
  }
}