.markdown.book-article,
.markdown.book-post {
  p {
    text-indent: 2em;
  }

  h1 {
    color: var(--body-font-color);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
  }

  h2 {
    color: var(--body-font-color);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0px 10px;
    border-left: 5px double #e40000;
  }

  h3 {
    color: var(--body-font-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    padding: 0px 10px;
    border-left: 5px double #007BFF;
  }

  h4 {
    color: var(--body-font-color);
    font-size: 14px;
    line-height: 1.66666666666667;
    font-weight: bold;
    padding: 0px 10px;
    border-left: 5px double #9C27B0;
  }

  h5 {
    color: #808080;
    font-size: 14px;
    line-height: 1.66666666666667;
    padding: 0px 10px;
    border-left: 5px double #00C853;
  }

  h6 {
    color: #808080;
    font-size: 12px;
    line-height: 1.66666666666667;
    font-weight: 600;
    padding: 0px 10px;
    border-left: 5px double #795548;
  }

  .book-post-title {
    padding: 0px;
    border-left: none;
  }
}


.book-menu a {
  width: 11rem;
  overflow: hidden;
  /*文本不会换行*/
  white-space: nowrap;
  /*当文本溢出包含元素时，以省略号表示超出的文本*/
  text-overflow: ellipsis;
}

/* 基本样式 */
.book-menu a {
  position: relative;
  display: inline-block;
  cursor: pointer;

  opacity: 1;
  visibility: visible;
}

/* 隐藏的提示文本 */
.book-menu a::after {
  content: attr(data-tip);
  position: absolute;
  bottom: 125%;
  /* 调整提示文本的位置 */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  width: max-content;
  max-width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 1;
}

/* 显示提示文本 */
.book-menu a:hover::after {}

.book-article {
  // 默认情况（适用于较小屏幕，如手机）
  min-height: calc(100vh - 170px);

  // 针对较大屏幕（如PC）
  @media (min-width: 768px) {
    // 假设 PC 端的 header 和 footer 高度不同
    min-height: calc(100vh - 150px);
  }
}

// .book-menu-content,
// .book-toc-content {
//   margin-bottom: 78px;
// }

/*网站底部*/
.index-footer {
  text-align: center;
  // border-top: 1px solid #009688;
  margin-top: 15px;
  // background: #2F4056;
  padding: 5px 0;
  // color: #d3d2d2;
  z-index: 1000;
}

// .index-footer a {
//   color: #d2d2d2;
// }

// .index-footer a:hover {
//   color: #fbfbfb;
// }

.index-footer>p {
  margin: 2px 0;
}

.index-footer>p a,
.index-footer>p span {
  padding-left: 7px;
}