.markdown.book-article,
.markdown.book-post {
  p {
    text-indent: 2em;
  }

  h1 {
    color: var(--body-font-color);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
  }

  h2 {
    color: var(--body-font-color);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0px 10px;
    // border-left: 5px double #e40000;
  }

  h3 {
    color: var(--body-font-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    padding: 0px 10px;
    // border-left: 5px double #007BFF;
  }

  h4 {
    color: var(--body-font-color);
    font-size: 14px;
    line-height: 1.66666666666667;
    font-weight: bold;
    padding: 0px 10px;
    // border-left: 5px double #9C27B0;
  }

  h5 {
    color: #808080;
    font-size: 14px;
    line-height: 1.66666666666667;
    padding: 0px 10px;
    // border-left: 5px double #00C853;
  }

  h6 {
    color: #808080;
    font-size: 12px;
    line-height: 1.66666666666667;
    font-weight: 600;
    padding: 0px 10px;
    // border-left: 5px double #795548;
  }

  .book-post-title {
    padding: 0px;
    border-left: none;
  }
}


.book-menu a {
  width: 11rem;
  overflow: hidden;
  /*文本不会换行*/
  white-space: nowrap;
  /*当文本溢出包含元素时，以省略号表示超出的文本*/
  text-overflow: ellipsis;
}


.container {
  min-height: calc(100vh - 68px);
}


/*网站底部*/

.page-footer {
  text-align: center;
  margin-top: 15px;
  padding: 5px 0;
  z-index: 1000;
}

.page-footer>p {
  margin: 2px 0;
}

.page-footer>p a,
.page-footer>p span {
  padding-left: 3px;
  padding-right: 3px;
}